<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search">
        <input type="text" name="word">
        <button>search</button>
    </form>

    <% if (locals.occurrences) {  %> 
        <ul>
            <% for (let i = 0; i < occurrences.length; i++) { %>
                <li>
                    <%= occurrences[i]  %> 
                </li>
            <% } %> 
        </ul>
    <% } %> 

<script type="text/javscript" src="/lib/jquery/jquery.min.js">
    $(document).ready(() => {
        $('button').on('click', e => {
            e.preventDefault()
            word = $('input[name='word']').val()
            $.get('search', {'word': word})
        })
    })
</script>
</body>
</html>